@import "@/assets/scss/variables.scss";

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  border: 5px solid $main-color;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
