@import "./variables.scss";

.container {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
  font-family: $roboto;
  color: $main-color;
  padding: 15px 0;
}

.number {
  font-size: 16px;
  cursor: pointer;
  line-height: 16px;
  color: $main-color;
  padding: 7px 11px;
  &.active {
    background-color: $main-color;
    color: #fff;
  }
}

.arrow-btn {
  cursor: pointer;

  & a {
    display: flex;
  }
}

.disabled {
  & svg {
    fill: rgb(163, 163, 163);
  }
}
