@import '../../../assets/scss/variables.scss';

.btn-wrapper {
	position: relative;

	&:hover .btn:not(.active) {
		background-color: #f9f9f9;
		transform: scale(1.01);
	}

	&:hover .btn-delete {
		filter: opacity(0.4);
	}

	&:hover .functional-btns-wrapper {
		max-width: 100%;
	}
}

.btn {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 1fr;
	margin-bottom: 12px;
	padding: 30px 25px;
	font-family: $roboto;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 7px 1px rgba(34, 60, 80, 0.14);
	-moz-box-shadow: 0px 1px 7px 1px rgba(34, 60, 80, 0.14);
	box-shadow: 0px 1px 7px 1px rgba(34, 60, 80, 0.14);
	transition: all 0.3s;
	cursor: pointer;
	gap: 10px;

	&.active {
		background-color: $main-color;
		& .title,
		.additional,
		.time {
			color: #fff;
		}
	}
}

.title {
	font-size: 18px;
	font-weight: 300;

	& + .additional {
		margin-top: 5px;
	}
}

.additional {
	color: #2e608b;
}

.time {
	display: flex;
	flex-direction: column;
	align-items: center;
	&:not(:has(+ .status)) {
		margin-left: auto;
		grid-column: 3;
	}
	& span {
		padding-left: 20px;
		position: relative;
	}
	& span:nth-child(1)::before,
	& span:nth-child(2)::before {
		width: 16px;
		height: 16px;
		content: '';
		position: absolute;
		background-size: cover;
	}
	& span:nth-child(1)::before {
		top: 3px;
		left: 0;
		background-image: url('../../../assets/images/icons/calendar.svg');
	}
	& span:nth-child(2)::before {
		top: 3px;
		left: 0;
		background-image: url('../../../assets/images/icons/time.svg');
	}
}

.status {
	justify-self: end;
	&.waiting {
		color: #dff25e;
	}
	&.accepted {
		color: #73d950;
	}
	&.canceled {
		color: #f25e5e;
	}
}

.btn-delete {
	top: 10px;
	right: 5px;
	transition: filter 0.4s;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	filter: opacity(0);
}

.functional-btns-wrapper {
	max-width: 0;
	display: inline-flex;
	top: 50%;
	right: 20px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	transition: max-width 0.5s;
	overflow: hidden;
	position: absolute;
	gap: 10px;
	transform: translateY(-50%);

	&:hover {
		max-width: 100%;
	}
	& .functional-btn {
		padding: 11px 26px;
		color: #fff;
		transition: background-color 0.3s;
		cursor: pointer;
		white-space: nowrap;
	}

	& .accept {
		background-color: $green;
		&:hover {
			background-color: $green-hover;
		}
	}

	& .cancel {
		background-color: $red;
		&:hover {
			background-color: $red-hover;
		}
	}
}
