.time {
	display: flex;
	flex-direction: column;
	align-items: center;

	& span {
		padding-left: 20px;
		position: relative;
	}

	& span:nth-child(1)::before,
	& span:nth-child(2)::before {
		width: 16px;
		height: 16px;
		content: '';
		position: absolute;
		background-size: cover;
	}

	& span:nth-child(1)::before {
		top: 3px;
		left: 0;
		background-image: url('@/assets/images/icons/calendar.svg');
	}

	& span:nth-child(2)::before {
		top: 3px;
		left: 0;
		background-image: url('@/assets/images/icons/time.svg');
	}
}
