@import '../../../assets/scss/variables.scss';

.wrapper {
	margin-bottom: 12px;
}

.btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 25px;
	font-family: $roboto;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 1px 7px 1px rgba(34, 60, 80, 0.14);
	-moz-box-shadow: 0px 1px 7px 1px rgba(34, 60, 80, 0.14);
	box-shadow: 0px 1px 7px 1px rgba(34, 60, 80, 0.14);
	transition: all 0.3s;
	cursor: pointer;
	gap: 10px;

	&.active {
		background-color: $main-color;
		& .title,
		.specialization,
		.time {
			color: #fff;
		}
	}
}

.title {
	font-size: 18px;
	font-weight: 300;

	& + .specialization {
		margin-top: 5px;
	}
}

.specialization {
	color: #2e608b;
}

.additional-wrapper {
	background-color: #f9f9f9;
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.6s;
}

.additional-list {
	display: inline-block;
	font-weight: 300;
	font-family: $roboto;
	padding: 20px 20px 20px 20px;
	-webkit-box-shadow: 0px 8px 7px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 8px 7px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 8px 7px 0px rgba(34, 60, 80, 0.2);
}

.additional-item {
	font-weight: 400;
	&::first-word {
		font-weight: 400;
	}
}
