@import '@/assets/scss/variables.scss';

.appointments-list {
	padding-top: 20px;
	background-color: #fff;
}

.message {
	margin-top: 20px;
	font-family: $roboto;
	font-size: 20px;
	line-height: 20px;
	color: #959595;
	text-align: center;
}
