@import "@/assets/scss/variables.scss";
.btn {
  margin-left: auto;
  padding: 8px 25px;
  font-family: $roboto;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: $green;
  border: 2px solid;
  border: 2px solid $green;
  transition: background 0.3s;
  grid-row: 2;
  grid-column: 2;

  &:disabled {
    padding: 7px 23px;
    font-weight: 300;
  }

  &:not([disabled]) {
    cursor: pointer;
    &:hover {
      background-color: $green-hover;
    }
  }
}
