@import '@/assets/scss/variables.scss';

.tab-list {
	display: flex;
	padding-top: 10px;
	gap: 10px;
}

.tab {
	border-radius: 10px 10px 0 0;
	&.active {
		-webkit-box-shadow: 0px -6px 12px 0px rgba(34, 60, 80, 0.2);
		-moz-box-shadow: 0px -6px 12px 0px rgba(34, 60, 80, 0.2);
		box-shadow: 0px -11px 12px 0px rgba(34, 60, 80, 0.2);
		& a {
			z-index: 101;
		}
	}
	& a {
		display: inline-block;
		padding: 12px 28px;
		font-family: $roboto;
		font-size: 18px;
		line-height: 18px;
		color: $main-color;
		text-decoration: none;
		background-color: #fff;
		border-radius: 10px 10px 0 0;
		position: relative;
		border-bottom: none;
	}
}

.shadow {
	box-shadow: 0px -15px 18px -19px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 0;
}
